@inherits LayoutComponentBase

<div class="page">
   @* <div class="sidebar">
        <NavMenu />
    </div>*@

    <div class="main">
         <div class="top-row bg-dark text-light">
        <h1 class="text-center">Factory Machines Management System</h1>
            </div>
      

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>
